.dashboard-layout {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  background: white;
  width: 100%;
}
.sidebar-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 42px;
  align-items: stretch;
  justify-content: flex-start;
  padding-top: 71px;
  width: 20%;
}
.transaction-history-icon {
  box-sizing: border-box;
  display: block;
  align-self: center;
  width: 102px;
  max-width: initial;
  height: 62px;
}
.transaction-history-divider {
  border-top: 1px solid #dbdbdb;
}
